.u_btn {
  /* customize */
  background: var(--primary-500);
  color: var(--white);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
}
.u_btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
