body {
  @include respond(noteBook1200mx) {
    @include widthAuto;
  }
}
// form {
//   @include respond(noteBook1200mx) {
//     margin: 2rem auto;
//     max-width: 80%;
//   }
// }

// @media (min-resolution:192dpi){
// high res . image
// background-image: url(../images/)
// }
