@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&family=Montserrat:ital,wght@0,400;0,700;1,900&display=swap");
:root {
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors default */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  /* box shadow default */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  /* fonts default */
  --head: "Montserrat", sans-serif;
  --content: "Manrope", sans-serif;
  /* decoration default */
  --borderRadius: 0.4rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 80%;
  --fixed-width: 60rem;
  --smallText: 1.3rem;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 110em) {
  html {
    font-size: 87.5%;
  }
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-family: var(--content);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--head);
  font-weight: 600;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 2rem;
}

small {
  font-size: var(--smallText);
}

p {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

button {
  /* basic */
  display: inline-block;
  text-transform: capitalize;
  border: transparent;
  padding: 0.75rem 1.5rem;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
}

/* form */
form {
  width: 60vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}

form label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.75rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

form input {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
  margin-bottom: 2rem;
}

.u_btn {
  /* customize */
  background: var(--primary-500);
  color: var(--white);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
}

.u_btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

@media only screen and (max-width: 75em) {
  body {
    margin: 0 auto;
    max-width: 80%;
  }
}

/*# sourceMappingURL=main.css.map */
